img{
    
    padding-left: 20px;
    width: 30%;
    height: 100%;
}
#footer{
    margin-left: 40px;
    background: 
    #FBD4D4;
}
a{
    text-decoration: none;
}
.fs{
    display: flex;
    padding-bottom: 4pc;
}
.first_part{
    width: 70%;
}
.second_part{
    padding-top: 30px;
    width: 50%;
}
.last_part{
    background: rgb(224, 153, 153);
    font-size: 20px;
    padding: 4px 8px 8px 4px;
    
}