/* #Signin{
    /* top right bottom left */
  


.first_box{
    padding: 20px 40px 20px 80px;
    font-size: 30px;
}
div h3{
    font-size: 15px;
    margin-left: 0px;
}
.whole{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
   
    margin-left: 20%;
    
    border-radius: 10%;
}
.second_box{
    padding: 50px 0px 50px 0px;
    padding-left: 10%;
  
}
.naming{
    
    border-radius: 45%;
    
}
.form-control{
    width: 90%;
    
   
}



.first_box{
    background: #FF8B8C;
    border-radius: 20px;
}
.second_box{
    border-radius: 20px;
    background: rgb(247, 218, 218);
    
}
.upper{
    padding: 15px 0px 15px 0px;
}