.app {
  width: 100vw;
  min-height: 100vh;
}

.appLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.appLoadComponent{
  display: flex;
  flex-direction:column ;
  /* align-items: ; */
}

.appLoaderText{
  margin-left: 0.5rem;
}