.headerContainer {
  margin-bottom: 01rem;
}

.headerTopSection {
  background-color: var(---colorPrimary);
  width: 9rem;
  border-radius: 0.8px;
  margin-top: 1rem;
  padding: 0.3rem;
  margin-left: var(---marginLeft);

  /* padding-left: 0.5rem; */
}

.headerBottomSection {
  background-color: var(---colorPrimary);
  width: 19rem;
  height: 0.1rem;
  margin-left: var(---marginLeft);
}

.headerTopSection p {
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
}

/* for mobile phones------- */
@media only screen and (max-width: 700px) {
  .headerContainer {
    margin-top: 0;
  }

  .headerTopSection {
    width: 100%;
    margin: 0;
    margin-top: 0rem;
    padding: 0rem;
  }
  .headerTopSection p {
    margin: 0;
    padding: 0.3rem;
    padding-left: 0;
    margin-left: 1rem;
  }
  .headerBottomSection {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
