
.container {
  background-color: var(---colorPrimary);
  color: whitesmoke;
  /* ----login container dimenstions */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19.5rem;
  height: 40rem;
  margin: auto;
  margin-top: 60rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  position: relative;
  align-content: space-between;
  box-sizing: border-box;
}

.log {
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  width: 100%;
  font-family: var(---fontBengali);
}

.input {
  /* padding: 0.3rem; */
  margin: auto;
  width: 90%;
}

.input input {
  border-style: solid;
  border-radius: 5px;
  padding: 0.2rem;
  border: none;
  height: 1.5rem;
  text-align: center;
  width: 100%;
}

.input p {
  font-size: medium;
  font-weight: 500;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.btnContainer button {
  width: 3.9rem;
  height: 1.8rem;
  border-radius: 3.5px;
  border-style: none;
  position: absolute;
  bottom: 1.2rem;
}
