.sliderElement {
  margin-right: 1rem;
}
.SliderContainer {
  margin-left: var(---marginLeft);
}
.slider{
  display: flex;
  padding-left: 0.5rem;
}


@media only screen and (max-width: 1190px) {
  .sliderContainer {
    display: flex;
    padding-left: 0.5rem;
  }
  .sliderContainerSlider {
    display: flex;
    padding-left: 0.5rem;
  }
  .SliderElement {
    margin: auto;
  }
}
